.background-fixed {
    background: url('../../img/background/allianz-stadium__background__1200x800.jpg');
    position: fixed;
    background-position: right bottom;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.container {
    width: 1024px;
    height: auto;
    padding: 0 10px;
    margin: 0 auto;
}
.flex-flow{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.header {
    height: 50px;
    background-color: rgba(150 , 150, 150, 0.8);
}
.logo {
    width: 30px;
    height: 50px;
    padding: 5px
}
.social-links__list{
    height: 50px;
    padding: 4px;
}
.social-links__list__item{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    height: 50px;
}
.logo__link__image {
    width: 100%;
}
.social-links__link{

}
.social-links__link__link-icon {
    fill: #333333;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 5px;

}

